.image-overlay img {
    max-height: 450px;
    width: 100%;
}

#products .carousel-item img {
    width: 600px;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
    transition: filter 0.3s ease-in-out;
    position: relative;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-item img {
    width: 600px;
    height: 600px;
    object-fit: cover;
}

/* Beschriftung der Slides */
.carousel-caption {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: white;
}

/* =============================== */
/* Übergangs-Effekt für den Slider */
/* =============================== */
#products .carousel-item {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#products .carousel-item.active {
    opacity: 1;
    transform: scale(1);
}

@media (min-width: 768px) {
    .carousel-caption {
        opacity: 0;
    }

    .carousel-item:hover .products-img {
        filter: brightness(50%);
    }

    .carousel-item:hover .carousel-caption {
        opacity: 1;
    }

    .carousel-item img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 767px) {
    .products-img {
        filter: brightness(60%);
    }

    .carousel-caption {
        opacity: 1;
    }
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    box-shadow: none !important;
}

/* ===================== */
/* Slide-in Animationen  */
/* ===================== */

/* Text: Startet links außerhalb des Sichtbereichs */
.text-slide-in {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

/* Bilder: Starten rechts außerhalb des Sichtbereichs */
.image-slide-in {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

/* Sobald die Animation aktiviert wird, werden die Elemente sichtbar und in ihre Endposition gebracht */
.text-slide-in.show,
.image-slide-in.show {
    opacity: 1;
    transform: translateX(0);
}